section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 2.5rem;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px;

}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #274966;
    padding: 20px;
    text-align: center;
}

.seccion-oscura{
    background-color: #3b413c;
    color: #daf0ee;
}

.seccion-clara{
    color: black;
    background-color: #daf0ee;
}

/* Barra de nav */

.navbar{
    padding: 2rem;
    
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


/* Seccion hero */

.hero{
    background-color: #041a08;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 60px;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #94d1be;
}

/*Sobre mi*/

.experiencia{
    padding: 40px;
}

/*Proyectos*/
.proyectos{
    padding: 40px;
}

.seccion-descripcion{
    padding: 20px;
}

.card-body:hover {
    color: white;
    background-color: black;
}

.proyectos-recientes {
    padding: 40px;
}

.texto-negro {
    color: #000000;
}

.texto-blanco {
    color: #fff;
}

/*Contacto*/

.contacto {
    padding: 20px;
}

/*Footer*/
footer{
    min-height: 150px;
}

.redes-sociales i {
    width: 80px;
    padding: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 10px;
}

.propiedad {
    margin-top: 20px;
}

/*Adaptable responsivo*/

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px
    }
};
    
