section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 2.5rem;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px;

}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #4f565c;
    padding: 20px;
    text-align: center;
}

.seccion-oscura{
    background-color: #25203E;
    color: #fff;
}

.seccion-clara{
    color: black;
    background-color: #fff;
}

/* Barra de nav */

.navbar{
    padding: 2rem;
    background-color:
    
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


/* Seccion hero */

.hero{
    background-color: #25203E;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #4f565c;
}

/*Sobre mi*/

.sobre-mi{
    height: 400px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 400px;
    text-align: center;
}

/*Proyectos*/
.proyectos{
    padding: 40px;
}

.card-body:hover {
    color: white;
    background-color: black;
}

.proyectos-recientes {
    padding: 40px;
}

.texto-negro {
    color: #000000;
}

.texto-blanco {
    color: #fff;
}

/*Contacto*/

.contacto {
    padding: 40px;
}


/*Adaptable responsivo*/

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px
    }
};
    
